* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.icon {
  width: 15px;
  height: 15px;

  &.trash {
    color: crimson;
  }
}

.sidebar-top {
  height: 42px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;

  @media (max-width: 767px) {
    flex-direction: row;
  }

  button {
    background: unset;
    font-family: inherit;
    font-size: inherit;
    padding: 8px 15px;
    border: solid 1px #333;
    border-radius: 5px;
    cursor: pointer;
  }

  label {
    margin-right: 10px;
  }

  select {
    border: none;
    font-family: inherit;
    font-size: inherit;
    background-color: inherit;

    @media (max-width: 980px) {
      margin-bottom: 10px;
    }

    @media (max-width: 767px) {
      margin-bottom: 0;
    }

    @media (max-width: 340px) {
      margin-bottom: 10px;
    }
  }
}

.sidebar-items__wrapper {
  height: calc(100vh - 62px);
  overflow-y: auto;

  @media (max-width: 768px) {
    height: auto;
  }
}

.sidebar-note {
  position: relative;
  margin-bottom: 5px;
  cursor: pointer;

  &.active {
    background-color: #d8dfe180;
  }

  .priority {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 8px;
  }
}

.sidebar-note__content {
  padding: 5px 5px 5px 15px;
  display: flex;
  flex-direction: column;
}

.sidebar-note__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  h3 {
    word-break: break-all;
    white-space: wrap;
  }

  button {
    padding: 10px;
    border: unset;
    background: unset;
    font-size: inherit;
    cursor: pointer;
  }
}

.main-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;

  @media (max-width: 440px) {
    height: auto;
  }
}

.form-wrapper {
  width: 100%;
  flex: 1;
  overflow: hidden;

  .main-top {
    display: flex;
    align-items: center;
    height: 42px;
    margin-top: 10px;

    @media (max-width: 440px) {
      flex-direction: column;
      height: auto;
    }

    input {
      width: 100%;
      padding: 10px;
      font-family: inherit;
      font-size: inherit;

      &:focus {
        outline: none;
      }
    }

    .select-wrapper {
      width: 150px;
      min-height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
      background-color: whitesmoke;
      padding: 0 10px;

      @media (max-width: 440px) {
        background-color: inherit;
        padding: 10px;
        margin-top: 10px;
      }

      select {
        border: unset;
        background: inherit;
        font-size: inherit;
        font-family: inherit;
      }
      label {
        cursor: pointer;
      }
    }
  }

  textarea {
    width: 100%;
    height: calc(100% - 62px);
    margin: 10px 10px 10px 0;
    padding: 10px;
    resize: none;
    border: solid 1px #333;

    @media (max-width: 440px) {
      min-height: 350px;
    }

    &:focus {
      outline: none;
    }
  }
}

.preview {
  flex: 1;
  padding: 10px;
  overflow: hidden;
  overflow-y: auto;
  background-color: whitesmoke;

  @media (max-width: 440px) {
    background-color: white;
  }

  h2 {
    margin-bottom: 1rem;
  }
}

.empty-page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    margin-bottom: 6rem;
    font-size: 2rem;
    color: rgb(207, 207, 207);

    @media (max-width: 440px) {
      margin-top: 6rem;
    }
  }
}
